*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
body{
    width: 100%;
    height:auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    background-color: rgb(62, 218, 181); 

      
    position: relative;
    /* display: flex;
    flex-direction: column; */
}
 .input-area{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: center; */
} 

.header{
    /* margin-top: 12px; */
    /* position: relative; */
display: flex;
/* justify-items: center; */

/* flex-direction: row; */
    /* left: 420px; */
flex-direction:row;
    justify-content:flex-start;
    align-items:center;
   max-width: 500px;
}
.add-input{
    /* position: relative; */
    /* top: 5px; */
    /* width: 350px; */
    /* right: 65px; */
    width: auto;
    padding: 5px;
    /* width: 300px; */
    height: 45px;
    border-radius: 6px;
    border: solid 1px #fff;
    color: white;
    /* padding-left: 6px; */
    font-size: 22px;
    background: rgba(17, 17, 17, 0.3);
    
   
}
.add-btn{
    /* position: relative; */
    /* top: 3px; */
    /* align-content: first baseline; */
    /* padding-left: -10px; */
    
    /* right: 318px; */
    height: 48px;
    width: 80px;
    border-radius:6px ;
    cursor: pointer;
    background-color: #bdf0a7;
    /* background: #ffffff; */
}
/* button css try */


/* end of try css */
.container{
    max-width: 100%;
   /* background-color: antiquewhite; */
   height: 550px;
   display: flex; 
   justify-content: space-around;
   position: relative;
   left: 3px;
   top: 65px;
   right: 20%;
}

.container-list {
    overflow:auto;
    margin-right:4px;
    width: 440px;
    height: 442px;
    background-color: rgba(242, 233, 233, 0.259);
    border-radius:5px ;
}
.box{
    width: 320px;
    height: 442px;
    /* background-color: rgba(242, 233, 233, 0.259); */
    border-radius:5px ;
    background-color: #2d9182;
}

#box1{
    margin: 4px;
    text-align: center;
    background-color: #ae9d3b;
}
#box2{
    margin: 4px;
    text-align: center;
    background-color: #c06b6b;

}
#box3{
    margin: 4px;
    text-align: center;
    background-color: #5ab835;

}
#box4{
    margin: 4px;
    text-align: center;
    background-color: #5958c5;

}
.heading{
    margin: 15px;
    /* width: fit-content; */
}
.heading h2{
    color: #030303;
    font-weight: bolder;
}
.container-list1{
    overflow:auto;
}
.container-list1-item{
    background-color: #ffff;
    width:285px ;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    word-break: break-all;
    height: 120px;
   
    margin-left: 8px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 285px;
    height: 120px;
    background-color: rgb(225, 152, 152);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count:infinite ;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.item-color{
    width: 32px;
    height: 8px;
    position: relative;
    left: 6px;
    top: 5px;
    border-radius: 5px;
    background-color:#d1b500;
}
#box2 .item-color{
    width: 32px;
    height: 8px;
    position: relative;
    left: 6px;
    top: 5px;
    border-radius: 5px;
    background-color: #4ae7a6;
}
#box3 .item-color{
    width: 32px;
    height: 8px;
    position: relative;
    left: 6px;
    top: 5px;
    border-radius: 5px;
    background-color: #3200b1;
}
#box4 .item-color{
    width: 32px;
    height: 8px;
    position: relative;
    left: 6px;
    top: 5px;
    border-radius: 5px;
    background-color: rgb(17, 139, 17);
}
.item-heading{
  margin-top: 3px;
  margin-left: 6px;
}
.description{
    display: flex;
    justify-content: space-evenly;
    width: 278px;
    height: 40px;
    overflow: auto;
}
.desc-para{
    background-color: rgba(250, 247, 245, 0.9);
    width: 248px;
    height: 67px;
    padding: 5px;
    font-size: 4rem;
   
}
/* .desc-btn{
    margin-top: 52px;
    margin-left: 249px;
    width: 15px;
    height: 15px; */
    /* border-radius: 50%;
    border: solid 3px #d1b500;
    background-color: #ffffff;
}
#box2 .desc-btn{
    margin-top: 30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #4ae7a6;
    background-color: #ffffff;
}
#box3 .desc-btn{
    margin-top: 30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #3200b1;
    background-color: #ffffff;
}
#box4 .desc-btn{
    margin-top: 30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #e74a4a;
    background-color: #ffffff;
} */
.dragging{
   border:  2px dotted cyan;
}

.modle-container {
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: #6358ae;
    width: 30%;
}

.editInput {
    margin: 20px;
}

button {
    width: 20% ;
    margin-left: 20%;
    
}
button:hover {
    background-color: #eb5c5c;
}

.modle-container-style {
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

lable {
    color: rgb(80, 76, 76);
    margin: 10px;
    font-weight: bolder;
}

.delete {
    margin-top: 3px;
    margin-left: 235px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #d1b500;
    background-color: #ffffff;
}

#box2 .delete {
    margin-top: 3px;
    margin-left: 235px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #4ae7a6;
    background-color: #ffffff;
}

#box3 .delete {
    margin-top: 3px;
    margin-left: 235px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #3200b1;
    background-color: #ffffff;
}

#box4 .delete {
    margin-top: 3px;
    margin-left: 235px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px rgb(17, 139, 17);
    background-color: white;
}
@media only screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .input-area{
        flex-direction: column;
        align-items: center;
    }
    .header{
        width: 500px;
        margin: auto;
        /* display: flex; */
        flex-direction: column;
        /* left: 2px; */
        justify-content: center;
        align-items: center;
        
margin: auto;
    }
    .header input{
        margin: auto;
        max-width: 500px;
        text-align: center;
        
    }
    .header .add-btn{
margin: 5px 0px  0px 0px;
        align-self: center;

    }
    button{
        width: auto;
    }
  }
/* dark mode */
.mode {
    /* float:right; */
    /* display: inline; */
    /* margin-right: 20px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 40px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
.slideshow-container {
    position: relative;
    /* background-color: rgb(62, 218, 181);  */
  }
  
  /* Slides */
  .mySlides {
    display: none;
    /* padding: 80px; */
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    /* padding: 16px; */
    color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
